<div class="drawer-side">
    <label for="notification-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <li>
            <div class="space-y-5">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <!-- Icon -->
                    <span class="inline-flex justify-center items-center size-8 rounded-full">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                        <path d="m9 12 2 2 4-4"></path>
                      </svg>
                    </span>
                    <!-- End Icon -->
                  </div>
                  <div class="ms-3">
                    <h3 class="text-gray-800 font-semibold">
                      Attention Passenger!
                    </h3>
                    <p class="text-sm text-gray-700">
                      The bus route has been temporarily changed due to road construction near Main Street. The bus will be taking a detour through Maple Avenue until further notice. Please plan your journey accordingly and expect slight delays. Thank you for your understanding.
                    </p>
                  </div>
              </div>
        </li> 
     


         <li>
            <div class="space-y-5">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <!-- Icon -->
                    <span class="inline-flex justify-center items-center size-8 rounded-full">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                        <path d="m9 12 2 2 4-4"></path>
                      </svg>
                    </span>
                    <!-- End Icon -->
                  </div>
                  <div class="ms-3">
                    <h3 class="text-gray-800 font-semibold">
                        Bus Alert!
                    </h3>
                    <p class="text-sm text-gray-700">
                        Your bus is approaching! The [Bus Number] is now [X] minutes away from your location. Please check the bus stop at [Street Name] and [Intersection] to catch your ride.
                    </p>
                  </div>
              </div>
        </li> 


        <li>
            <div class="space-y-5">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <!-- Icon -->
                    <span class="inline-flex justify-center items-center size-8 rounded-full">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                        <path d="m9 12 2 2 4-4"></path>
                      </svg>
                    </span>
                    <!-- End Icon -->
                  </div>
                  <div class="ms-3">
                    <h3 class="text-gray-800 font-semibold">
                       Notification Alert!
                    </h3>
                    <p class="text-sm text-gray-700">
                        Yow yow yow yow 
                    </p>
                  </div>
              </div>
        </li> 


        <li>
            <div class="space-y-5">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <!-- Icon -->
                    <span class="inline-flex justify-center items-center size-8 rounded-full">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                        <path d="m9 12 2 2 4-4"></path>
                      </svg>
                    </span>
                    <!-- End Icon -->
                  </div>
                  <div class="ms-3">
                    <h3 class="text-gray-800 font-semibold">
                        Notification Alert!
                    </h3>
                    <p class="text-sm text-gray-700">
                        Yow yow yow yow 
                    </p>
                  </div>
              </div>
        </li> 


        <li>
            <div class="space-y-5">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <!-- Icon -->
                    <span class="inline-flex justify-center items-center size-8 rounded-full">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                        <path d="m9 12 2 2 4-4"></path>
                      </svg>
                    </span>
                    <!-- End Icon -->
                  </div>
                  <div class="ms-3">
                    <h3 class="text-gray-800 font-semibold">
                        Notification Alert!
                    </h3>
                    <p class="text-sm text-gray-700">
                        Yow yow yow yow 
                    </p>
                  </div>
              </div>
        </li> 

    </ul>
</div>
