<div>
    <!-- <img src="/images/mbtrack-logo.jpg" class="h-20 w-20"> -->
    <h1 class="text-white font-bold text-4xl font-sans">MBTrack</h1>
    <p class="text-white mt-1">An Innovative Mini Bus Tracking System for passengers</p>
    <button type="submit" class="block w-28 bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Read
        More</button>
</div>