<div class="p-4 sm:ml-64">

     <!-- Breadcrumb Start -->
     <div class="mb-6 mt-16 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-xl font-bold text-gray-800">
            Bus Tracking
        </h2>
 <nav>
   <ol class="flex items-center gap-2">
     <li>
       <a class="font-medium" href="index.html">Dashboard /</a>
     </li>
     <li class="font-medium text-gray-400">bustracking</li>
   </ol>
 </nav>

</div>
<!-- Breadcrumb End -->

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-6">

        <!-- card  -->

        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            <div class="relative w-full h-96">
                <iframe class="absolute top-0 left-0 w-full h-full"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12080.73732861526!2d-74.0059418!3d40.7127847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM40zMDA2JzEwLjAiTiA3NMKwMjUnMzcuNyJX!5e0!3m2!1sen!2sus!4v1648482801994!5m2!1sen!2sus"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>

        </div>

        <!-- end card -->

    </div>
</div>