<div class="p-4 sm:ml-64">

    <!-- Breadcrumb Start -->
    <div class="mb-6 mt-16 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-xl font-bold text-gray-800">
            My Profile
        </h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li>
                    <a class="font-medium" href="index.html">Profile /</a>
                </li>
                <li class="font-medium text-gray-400"></li>
            </ol>
        </nav>

    </div>
    <!-- Breadcrumb End -->

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-6">

        <!-- image profile  -->

        <div class="flex justify-center">
            <img class="w-32 h-32 rounded-full border-4 border-gray-300" src="https://via.placeholder.com/150"
                alt="Profile Image">
        </div>

        <div class="text-center mt-4">
            <h2 class="text-xl font-semibold text-gray-700">Kaito Coding</h2>
            <p class="text-gray-500">Super Admin</p>
        </div>

        <!-- end image profile -->


        <form class="mt-6 space-y-4">
            <div class="flex justify-center">
                <div class="px-2 w-64">
                    <label for="name" class="block text-sm font-medium text-gray-700">First Name</label>
                    <input type="text" id="name" name="name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="first name">
                </div>
                <div class="px-2 w-64">
                    <label for="name" class="block text-sm font-medium text-gray-700">Last Name</label>
                    <input type="text" id="name" name="name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="last name">
                </div>
            </div>
            <div class="flex justify-center">
                <div class="px-2 w-64">
                    <label for="name" class="block text-sm font-medium text-gray-700">Email Address</label>
                    <input type="text" id="name" name="name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="example@gmail.com">
                </div>
                <div class="px-2 w-64">
                    <label for="name" class="block text-sm font-medium text-gray-700">Contact Number</label>
                    <input type="text" id="name" name="name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="09********">
                </div>
            </div>
            <div class="flex justify-center">
                <div class="px-2 w-64">
                    <label for="name" class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" id="name" name="name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="username">
                </div>
                <div class="px-2 w-64">
                    <label for="name" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="text" id="name" name="name"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="*******">
                </div>
            </div>

            <div class="flex justify-end">
                <button type="submit"
                    class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Save</button>
            </div>
        </form>

    </div>
</div>