<!-- logout modal -->
<div id="logout-modal" class="modal">
    <div class="modal-box">
        <p>Are you sure, <br>Do you want to logout?</p>
        <div class="modal-action">
            <a href="#logout" id="logout" class="btn bg-blue-500 text-white">Logout</a>
            <a href="#" class="btn">Close</a>
        </div>
    </div>
</div>
<!-- logout modal -->