<!-- search modal -->
<input type="checkbox" id="search-modal" class="modal-toggle">
<div class="modal">
    <div class="modal-box relative">
        <label for="search-modal"
            class="btn btn-sm btn-circle border-none bg-base-100 text-black font-bold absolute right-2 top-2">✕</label>
        <div class="form-control pr-6">
            <input type="text" placeholder="Search" class="input input-bordered bg-base-100 ">
        </div>
    </div>
</div>
<!-- end search modal -->