<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/online/css/tailwind.css">
    <link rel="icon" href="/images/favicon.svg">

    <!-- <link rel="stylesheet" href="/online/css/daisyui.css"> -->
    <title>Forgot Password | TrackMOn</title>
</head>
<body>
    <div class="h-screen md:flex">
        <div
            class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-900 to-purple-700 i justify-around items-center hidden">

            <%- include('../partials/title') -%>

            <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8">
            </div>
            <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8">
            </div>
            <div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
            <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        </div>
        <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
            <form class="bg-white" method="POST">
                <h1 class="text-gray-800 font-bold text-2xl mb-1">Forgot Password!</h1>
                <p class="text-sm font-normal text-gray-600 mb-7">You will receive a link to create a new password via email.</p>

                <div
                    class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 focus-within:bg-gray-50 focus-within:ring-1 ring-blue-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input class="pl-2 outline-none border-none focus-within:bg-gray-50" type="text" name="" id=""
                        placeholder="Email Address" />
                </div>

                <button type="submit"
                    class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Reset</button>

                <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer float-right mb-2"><a href="/app/login">Go
                        back to login</a></span>


            </form>
        </div>
    </div>
</body>
<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
</html>