<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/online/css/tailwind.css">
    <link rel="icon" href="/images/favicon.svg">

    <!-- <link rel="stylesheet" href="/online/css/daisyui.css"> -->
    <title>Login | MBTrack</title>
</head>
<body>
    <div class="h-screen md:flex">
        <div
            class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-900 to-purple-700 i justify-around items-center hidden">
            <div>

                <%- include('partials/title') -%>
            </div>
            <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8">
            </div>
            <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8">
            </div>
            <div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
            <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        </div>
        <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
            <form class="bg-white" action="/app/login" method="POST">

                <img src="/images/mbtrack-logo.jpg" class="mx-auto h-20 w-20 md:hidden">
                <h1 class="text-gray-800 font-bold text-2xl mb-1">Sign In!</h1>
                <p class="text-sm font-normal text-gray-600 mb-7">Welcome back, Sign in below with
                    your
                    account.</p>

                <% if (errors && errors.length> 0) { %>
                    <div style="width: 289px;"
                        class="flex p-4 mb-4 items-center mx-auto text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.#95 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <span class="font-medium">There was an issue with your login credentials</span>
                            <ul class="mt-1.5 list-disc list-inside">
                                <% errors.forEach(error=> { %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <% } %>

                        <% if (invalid==true) { %>
                            <div style="width: 289px;"
                                class="flex p-4 mb-4 items-center mx-auto text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M10 .5a9.#95 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                                </svg>
                                <span class="sr-only">Danger</span>
                                <div>
                                    <span class="font-medium">There was an issue with your login credentials</span>
                                    <ul class="mt-1.5 list-disc list-inside">
                                        <li>
                                            Something went wrong
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <% } %>
                                <div
                                    class="<% if (errors && errors.length> 0 || invalid == true) { %>bg-red-50 border border-red-500 flex items-center border-2 py-2 px-3 rounded-2xl mb-4 focus-within:bg-gray-50<%} else {%> flex items-center border-2 py-2 px-3 rounded-2xl mb-4 focus-within:bg-gray-50 focus-within:ring-1 ring-blue-700 <%}%>">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                    </svg>
                                    <input
                                        class="<% if (errors && errors.length> 0 || invalid == true) { %>bg-red-50<%}%> pl-2 outline-none border-none focus-within:bg-gray-50"
                                        type="text" name="email" id="" value="<%= session.email %>"
                                        placeholder="Email Address" />
                                </div>
                                <div class="<% if (errors && errors.length> 0 || invalid == true) { %>bg-red-50 border border-red-500 flex items-center border-2 py-2 px-3 rounded-2xl mb-4 focus-within:bg-gray-50<%} else {%> flex items-center border-2 py-2 px-3 rounded-2xl mb-4 focus-within:bg-gray-50 focus-within:ring-1 ring-blue-700 <%}%>"
                                    x-data="{ showPass: true }">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <input
                                        class="<% if (errors && errors.length> 0 || invalid == true) { %>bg-red-50<%}%> pl-2 outline-none border-none focus-within:bg-gray-50"
                                        :type="showPass ? 'password' : 'text'" value="<%= session.password %>"
                                        name="password" id="password" placeholder="Password" />
                                    <div class="ml-6 items-center text-sm leading-5 cursor-pointer">
                                        <p class="text-gray-400 font-semibold" @click="showPass = !showPass"
                                            x-text="showPass ? 'Show' : 'Hide'">Show
                                        </p>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>

                                <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer float-right mb-2"><a
                                        href="/app/forgot">Forgot
                                        Password?</a></span>
                                <a href="/app/register">
                                    <button type="button" onclick=""
                                        class="block mt-4 w-full mt-4 py-2 rounded-2xl text-black font-semibold border border-solid border-gray-500 hover:bg-indigo-600 hover:text-white">Register</button>
                                </a>

            </form>
        </div>
    </div>
</body>
<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
</html>